<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/static/css/travel1.css">
    <title>Travello</title>
</head>
<body>
    <main>
        <header>

        </header>
            <div class="journey_container">
                <div class="section_container">
                   <h2 class="section_title">Start Your Journey</h2>
                    <div class="journey_grid">
                            <div class="country_card">
                                <img src="/static/images/Tirumala.jpg" alt="Temple" height="60%" >
                                <div class="country_name">
                                    <i class="ri-map-pin-2-fill"></i>
                                    <a href="/option/Spiritual"><span>Spiritual</span></a>
                                </div>
                            </div>
                            <div class="country_card">
                                <img src="/static/images/park.jpg" alt="Temple" height="60%">
                                <div class="country_name">
                                    <i class="ri-map-pin-2-fill"></i>
                                   <a href="/option/Natural"> <span>Nature</span></a>
                                </div>
                            </div>
                            <div class="country_card">
                                <img src="/static/images/Mall1.jpg" alt="Temple" height="100%">
                                <div class="country_name">
                                    <i class="ri-map-pin-2-fill"></i>
                                    <a href="/option/Shopping"> <span>Shopping</span></a>
                                </div>
                            </div>
                            <div class="country_card">
                                <img src="/static/images/Monu.jpg" alt="Temple"  height="100%">
                                <div class="country_name">
                                    <i class="ri-map-pin-2-fill"></i>
                                    <a href="/option/Monuments"> <span>Monuments</span></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </main>
</body>
</html>





